﻿@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var process = Process.GetCurrentProcess();
}

<div class="text-center">
    
	<h1 class="display-4">"Hello Hepsiburada from</h1><h1 class="display-4">@(Environment.GetEnvironmentVariable("YourName"))</h1>

</div>

